{% load static %}
<footer class="footer footer-white">
    <div class="container">
        <a class="footer-brand" href="{% url 'cha:challenge' %}">
            <img src="{% static 'challenges/assets/img/logo_wh.svg' %}" class="img-responsive" width="120px">
        </a>
        <ul class="pull-center midtext">
            <li>
                @2019 Technopulse.com All rights reserved
            </li>
        </ul>

        <ul class="social-buttons footersocial">
            <li>
                <a href="https://www.facebook.com/decimalpointanalyticspl" target="_blank"
                    class="btn btn-just-icon btn-link btn-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>


                <a href="https://twitter.com/DecimalP" target="_blank" class="btn btn-just-icon btn-link btn-twitter">


                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://accounts.google.com/ServiceLogin?passive=1209600&osid=1&continue=https://plus.google.com/%2BDecimalpointanalytics&followup=https://plus.google.com/%2BDecimalpointanalytics"
                    target="_blank" class="btn btn-just-icon btn-link btn-google">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>

                <a href="https://www.linkedin.com/company/decimal-point-analytics/" target="_blank"
                    class="btn btn-just-icon btn-link btn-linkedin">


                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>

    </div>
</footer>