<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome Email</title>

<style>
body {
background-color: #F8F8F8;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
font-family:Arial, Helvetica, sans-serif;
}

.maintb{
width:700px;
}

@media (max-width:700px){
.maintb{
width:600px;
}
}

@media (max-width:600px){
.maintb{
width:100%;
}
}


</style>
</head>

<body>


<table border="0" align="center" cellpadding="0" cellspacing="0" class="maintb">
  <tr>
    <td>
   <!------------------------------------------------>
    
    <table class="maintb" style="font-size: 13px;padding: 20px 10px;" cellspacing="0" cellpadding="0" border="0">
    <tr>
    <td align="left" valign="middle">+91 22 30015229</td>
    <td align="right" valign="middle"><a href="#" style="color:#000000; text-decoration:none;">it@decimalpointanalytics.com</a></td>
    </tr>
    </table>
    
    
    
    <table class="maintb" border="0" cellspacing="0" cellpadding="0" style="background-color:#223D4F;" bgcolor="#223D4F;">
    <tr>
    <td style="padding:40px 0px;" valign="middle" align="center">
    <img src="https://www.decimalpointanalytics.com/singularitypulse/logo_white.png" alt="Image" title="Image" style="display: block !important;border: 0;height: auto;float: none;width: 100%;max-width:234px" width="234" border="0" align="middle">    </td>
    </tr>
    </table>
    
    
    <table class="maintb" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff;" bgcolor="#ffffff;">
    <tr>
    <td style="padding:10px 0px;" valign="middle" align="center">
    <img src="https://gallery.mailchimp.com/bce3662f50d060186ea46a0a7/images/bd00d85b-8540-4b28-84f8-a3d385742dce.png" alt="Image" title="Image" style="display: block !important;border: 0;height: auto;float: none;width:140px;max-width:140px" width="140" border="0" align="middle">
    <br>
    <p span style="font-size: 18px;color: #000;">Hi {{ first_name }},</p>
    
    <p style="margin: 10px 0px;font-style: italic;color: #5d7f95;font-size: 14px;line-height: 18px;">Welcome to FundPulse!</p>
    
    <img src="https://gallery.mailchimp.com/bce3662f50d060186ea46a0a7/images/61cf134c-43a9-4ad4-b56e-2e569cfdff9f.png" alt="Image" title="Image" style="display: block !important;border: 0;height: auto;float: none;width:211px;max-width:211px" width="211" border="0" align="middle"><br>
    
    <p style="font-size: 14px;text-transform: uppercase;letter-spacing: 2px;margin-top: 8px;padding: 0px;color: #8f8f8f;">Portal:
    <a style="font-size: 14px;text-transform: uppercase;letter-spacing: 0px;margin-top: 8px;padding: 0px;color: #363537;" href="http://192.168.2.18:8081/" target="_blank" rel="noopener" data-mce-selected="1">
      FundPulse System
    </a>    
    </p>
    <p style="font-size: 14px;text-transform: uppercase;letter-spacing: 2px;margin-top: 8px;padding: 0px;color: #8f8f8f;">
      Username: 
    <span style="font-size: 14px;text-transform: uppercase;letter-spacing: 0px;margin-top: 8px;padding: 0px;color: #363537;" >{{ username }}</span></p>
    
    <p style="font-size: 14px;text-transform: uppercase;letter-spacing: 2px;margin-top: 8px;padding: 0px;color: #8f8f8f;">Password:  
    <a style="font-size: 14px;text-transform: uppercase;letter-spacing: 0px;margin-top: 8px;padding: 0px;color: #363537;" href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Set New Password!
    </a>
    </p>
    </span>
	  <img src="https://gallery.mailchimp.com/bce3662f50d060186ea46a0a7/images/61cf134c-43a9-4ad4-b56e-2e569cfdff9f.png" alt="Image" title="Image" style="display: block !important;border: 0;height: auto;float: none;width:211px;max-width:211px" width="211" border="0" align="middle"><br>
    </td>
    </tr>
    </table>
    
     
    <table class="maintb" border="0" cellspacing="0" cellpadding="0" style="background-color:#ECF0F5;" bgcolor="#ECF0F5;">
    <tr>
    <td style="padding: 20px 0px;" valign="middle" align="center">
    <p>Thank you,</p>
    <p style="font-weight: 600;font-size: 18px;">FundPulse Team</p>
    <p>
    <a style="color: #0A84FF;" href="http://192.168.2.18:8081/" target="_blank" rel="noopener"><span style="color: #0A84FF;">FundPulse Portal</span></a>
    </p>
    </td>
    </tr>
    
<tr>
<td height="40" align="center" valign="middle">
<table width="160" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="40" height="40" align="center" valign="middle"><a href="https://www.facebook.com/decimalpointanalyticspl"><img src="https://gallery.mailchimp.com/bce3662f50d060186ea46a0a7/images/9b4a5774-12d5-4aee-809f-a647704ca683.png" width="35"></a></td>
<td width="40" height="40" align="center" valign="middle"><a href="https://twitter.com/DecimalP"><img src="https://gallery.mailchimp.com/bce3662f50d060186ea46a0a7/images/27c7315d-44f9-49b3-a874-c371cdd9ac70.png" width="35"></a></td>
<td width="40" height="40" align="center" valign="middle"><a href="https://plus.google.com/+Decimalpointanalytics"><img src="https://gallery.mailchimp.com/bce3662f50d060186ea46a0a7/images/4bf3ff47-4113-4e7e-9dc9-7b67d3cfaf39.png" width="35"></a></td>
<td width="40" height="40" align="center" valign="middle"><a href="https://www.linkedin.com/in/decimal-point-analytics-937049132/"><img src="https://gallery.mailchimp.com/bce3662f50d060186ea46a0a7/images/0bff6c0c-1f7b-45e5-a8e4-815c6196e237.png" width="35"></a></td>
</tr>
</table>
</td>
</tr>

<tr>
<td height="10" style="background-color:#083D6D; ">&nbsp;</td>
</tr>


    </table>



   
   
   
   
    
   <!------------------------------------------------>   
    </td>
  </tr>
</table>



</body>
</html>
